.header {
    padding: 0 5%;

    background-color: #38393b;
    color: white;

    justify-content: space-between;
}

h2 {
    font-size: 2.5rem;
    color: rgb(136, 174, 32);
}

h3 {
    font-size: 1.2rem;
    padding-left: 1rem;
    margin-top: -1.9rem;
}
